body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  html {
    margin: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  .h h1 {
    font-family: "Shrikhand", cursive;
  }
  .h__localisation {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 225, 225);
    box-shadow: 0px 0px 10px 0px;
    width: 100%;
    margin-top: 5%;
    padding-right: 5%;
  }
  .h__icon {
    padding-top: 4%;
    margin-right: 3%;
  }
  .recherche_restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
  }
  .recherche_restaurant h3 {
    margin-left: 17%;
  }
  .recherche_restaurant p {
    margin-left: 20%;
    margin-right: 3%;
  }
  .recherche_restaurant input {
    padding: 4%;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border: none;
    margin-bottom: 10%;
    box-shadow: 0px 10px 10px 0px;
  }
  .fonctionnement__carte {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 7px 0px;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 15%;
  }
  .fonctionnement__carte:hover {
    background-color: #e2d5f1;
  }
  .fonctionnement__icon {
    padding-top: 6%;
    margin-right: 5%;
    margin-left: 5%;
    color: grey;
  }
  .fonctionnement__icon:hover {
    color: #9356DC;
  }
  .fonctionnement__numero {
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    width: 20px;
    position: relative;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurants {
    background-color: #F2F2F2;
    margin-left: 5%;
  }
  .restaurants__carte {
    width: 95%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 7px 0px;
    border: 3px solid black;
    margin-bottom: 5%;
  }
  .restaurants__carte::before {
    content: "Nouveau";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(136, 226, 0);
    color: green;
    box-shadow: 1px 1px 20px black;
  }
  .restaurants__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 250px;
    width: 100%;
  }
  .restaurants__carte__bas {
    margin-top: 3%;
    margin-bottom: 15%;
  }
  .restaurants__carte__bas h3 {
    margin-bottom: 0%;
  }
  .restaurants__carte__bas p {
    margin-top: 0%;
  }
  footer {
    background-color: rgb(44, 40, 40);
    display: flex;
    flex-direction: column;
    color: white;
  }
  footer h3 {
    font-family: "Shrikhand", cursive;
    margin-left: 15%;
  }
  footer i {
    margin-right: 4%;
  }
  footer a {
    margin-left: 5%;
    margin-top: 4%;
  }
}
.background {
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  width: 80%;
}

.titre {
  display: flex;
  justify-content: space-around;
}
.titre i {
  padding-top: 8%;
}/*# sourceMappingURL=accueil.css.map */