body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;    
}

// LOADING SPINNER 

.loader {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100%;
    inset: 0;
    opacity: 0.9;
    animation: background-loader 3s;
    animation-fill-mode: forwards;
    &::after {
        content: "";
        display: flex;
        border: 16px solid #9356DC;
        width: 200px;
        height: 200px;
        margin-bottom: 10%;
        border-top-color: #FF79DA;
        border-bottom-color: #99E2D0;
        border-radius: 50%;
        animation: spinner 3s;
    }
}

@keyframes background-loader {
    0%{
        transform: scale(1);
       
    }
    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);      
    }
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(760deg);      
    }
}

//  VERSION DESKTOP

// Header
.h {
    & h1 {
        display: flex;
        justify-content: center;
        text-shadow: 1px 1px 1px #9356DC;
        font-size: 300%;
        padding-top: 1%;
    }
    &__localisation {
        display: flex;
        justify-content: center;
        border-top: 2px solid #FF79DA;
        border-bottom: 2px solid #FF79DA;
        // Effets juste pour la version desktop
        box-shadow: 0px 0px 10px 0px #9356DC;
        text-shadow: 1px 1px 1px #9356DC;
        width: 100%;
        height: 80px;
        margin-top: 3%;
        padding-right: 5%; 
    }
    &__icon {
        padding-top: 1.5%;
        margin-right: 2%;
    }
    & p {
        padding-top: 0.7%;
    }
}

// Main 

.recherche_restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    & h3 {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    & .p_deux_recherche {
        margin-bottom: 3%;
    }
    & p {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    & input {
        padding: 1%;
        margin-top: 3%;
        border-radius: 30px 30px 30px 30px;
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        border: none;
        margin-bottom: 2%;
        box-shadow: 3px 3px 3px gray;
        &:hover {
            background: linear-gradient(#f7a4df, #af7eec);
        }
    }
}

.fonctionnement {
    &__flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    & h1 {
        display: flex;
        justify-content: center;
        padding-top: 2%;
        padding-bottom: 2%;
        border-top: 2px solid #FF79DA;
        border-bottom: 2px solid #FF79DA;
        // Effets pour la version desktop
        box-shadow: 0px 0px 10px 0px #9356DC;
        text-shadow: 1px 1px 1px #9356DC;
        letter-spacing: 3px;      
        font-family: 'Roboto', sans-serif;  
    }
    &__carte {
        display: flex;
        flex-direction: row;
        background-color: #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 7px 0px;
        width: 27%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 3%;
        margin-left: 2%;
        &:hover {
            // Arrière-plan en couleur lors du survol 
            background-color: #e2d5f1;
        }
    }
    &__icon {
        padding-top: 8%;
        margin-right: 5%;
        margin-left: 5%;
        color: grey;
        &:hover {
            // Arrière-plan en couleur lors du survol
            color: #9356DC;
        }
    }
    &__numero {
        background-color: #9356DC;
        border-radius: 50%;
        color: white;
        width: 30px;
        position: relative;
        // Permet de décaler notre numéro sur la gauche du conteneur, à cheval 
        left: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.restaurants {
    width: 100%;
    background-color: #F2F2F2;
    & h1 {        
        padding-top: 3%;
        padding-bottom: 2%;
        font-size: 80px;
        display: flex;
        justify-content: center;
        text-shadow: 1px 1px 1px #9356DC;
        font-family: 'Roboto', sans-serif;
    }
    &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10%;
    }
    &__carte {
        width: 40%;
        height: 350px;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 7px 0px;
        margin-bottom: 5%;
        margin-left: 3%;
        position: relative;
    }      
    &__img {
        object-fit: cover;
        height: 250px;
        width: 100%;
        // Permet de gérer la position de l'image
        object-position: 70% 63%;
        border-radius: 20px 20px 0px 0px;
    }

    &__carte__bas {
        margin-bottom: 1%;
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
        justify-content: space-between;
        & h3 {
            margin-bottom: 0%;
        }
        & p {
            margin-top: 0%;
        }
        & .heart {
            margin-right: 8%;
            padding-top: 6%;       
            & .jauge {
                position: absolute;
                top: 290px;
            }                
            & .jauge_remplissage {    
                    background-image:  linear-gradient(#FF79DA, #9356DC);
                    // Permet que le background s'affiche à l'intérieur du coeur
                    background-clip: text;              
                    position: absolute;
                    top: 290px;
                    opacity: 0;
                    color: transparent;
                    transition: all 1s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
            }
        }
    }
    //  Affichage étiquettes "nouveau" en haut à droite de la carte
    .nouveau {
        &::before {
            content: "Nouveau";
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 2%;
            font-weight: bold;
            background-color: rgb(123, 246, 209);
            color: green;
        }
    } 
}

footer {
    background-color: rgb(44, 40, 40);
    display: flex;
    flex-direction: column;
    color: white;
    & h3 {
        font-family: 'Shrikhand', cursive ;
        margin-left: 5%;
    }
    & i {
        margin-right: 0.5%;
    }
    & a {
        margin-left: 4%;
        margin-top: 1%;
        color: white;
    }
}



@media screen and (max-width: 768px) {

// SMARTPHONE PAGE ACCUEIL

    h1 {
        font-family: 'Shrikhand', cursive;
    }

    html {
        margin: 0;
    }

    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
    }

    @mixin bouton {
        padding: 4%;
        border-radius: 30px 30px 30px 30px;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 3px 3px 3px gray;
        color: white;
        border: none;
        margin-top: 7%;
        margin-bottom: 10%;
    }

    @mixin fleche_header {
        margin-top: 8%;
        color: rgb(85, 84, 84);
        margin-left: 5%;
        :hover {
            color: #9356DC;
        }        
    }

    // HEADER

    .h {
        & h1 {
            font-family: 'Shrikhand', cursive;
            text-shadow: none;
            padding-top: 0%;
        }
        &__localisation {
            border: none;
            text-shadow: none;
            background-color: rgb(230, 225, 225);
            box-shadow: 0px 0px 10px 0px;
            margin-bottom: 0%;
            width: 95%;
            height: 60px;
            margin-top: 7%;
        }
        &__icon {
            padding-top: 4%;
            margin-right: 3%;
        }
    }

    .recherche_restaurant {
        margin-top: 0%;
        background-color: #F2F2F2;
        & h3 {
            margin-left: 5%;
        }
        & p {
            margin-bottom: 0%;
            margin-top: 0%;
            margin-left: 7%;
        }
        & .reservez {
            margin-top: 5%;
        }
        & input {
            @include bouton()
        }
    }

    .fonctionnement {
        &__flex {
            display: block;
        }
        & h1 {
            display: block;
            border: none;
            box-shadow: none;
            text-shadow: none;
            letter-spacing: 0px;
            margin-left: 5%;
        }
        &__carte {
            display: flex;
            flex-direction: row;
            background-color: #F2F2F2;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 7px 0px;
            width: 80%;
            margin-top: 10%;
            margin-left: 10%;
            margin-bottom: 15%;
            &:hover {
                background-color: #e2d5f1;
            }
        }
        &__icon {
            padding-top: 7%;
            margin-right: 5%;
            margin-left: 5%;
            color: grey;
            &:hover {
                color: #9356DC;
            }
        }
        &__numero {
            background-color: #9356DC;
            border-radius: 50%;
            color: white;
            position: relative;
            left: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .restaurants {
        & h1 {
            display: block;
            border: none;
            box-shadow: none;
            text-shadow: none;
            letter-spacing: 0px;
            font-size: 30px;
            margin-left: 5%;
        }
        &__flex {
            margin-left: 3%;
            margin-right: 3%;
        }
        &__carte {
            width: 95%;
            height: 250px;
            background-color: white;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 7px 0px;
            margin-bottom: 5%;
            position: relative;
            &::before {
                & .heart {
                    margin-right: 8%;
                    padding-top: 6%; 
                    cursor: pointer;       
                & i {           
                    position: absolute;
                }
                & .jauge {
                    position: absolute;
                    top: 380px;
                }                    
                & .jauge_remplissage {    
                        background-image:  linear-gradient(#FF79DA, #9356DC);
                        -webkit-background-clip: text;
                        background-clip: text;              
                        position: absolute;
                        top: 380px;
                        opacity: 0;
                        color: transparent;
                        transition: all 1s ease-in-out;
                }        
                &:hover .jauge_remplissage {
                    opacity: 1;
                    } 
                }
            }
        }      
            &__img {
                object-fit: cover;
                height: 180px;
                width: 100%;
                object-position: 70% 63%;
                border-radius: 20px 20px 0px 0px;
            }
            &__carte__bas {
                margin-bottom: 3%;
                margin-left: 3%;
                margin-right: 3%;
                display: flex;
                justify-content: space-between;
                & h3 {
                    margin-bottom: 0%;
                    margin-top: 5%;
                }
                & p {
                    margin-top: 0%;
                }
                & i {
                    width: 50px;
                    padding-top: 8%;                
                }
                & .jauge {
                    top: 400px;
                }
                & .jauge_remplissage {
                    top: 400px;
                }
        }

        .nouveau {
            &::before {
                content: "Nouveau";
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 2%;
                font-weight: bold;
                background-color: rgb(123, 246, 209);
                color: green;
            }
        }
    }
 

    footer {
        background-color: rgb(44, 40, 40);
        display: flex;
        flex-direction: column;
        color: white;
        h3 {
            font-family: 'Shrikhand', cursive ;
            display: block;
            margin-left: 7%;
        }
        i {
            margin-right: 4%;
        }
        a {
            margin-left: 5%;
            margin-top: 4%;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    // VERSION TABLETTE

    .fonctionnement {
        &__carte {
            margin-bottom: 2%;
        }
        &__icon {
            padding-top: 9%;
        }
    }

    .restaurants {
        &__carte {
            height: 250px;
        }
        &__img {
            height: 180px;
        }
        &__carte__bas {
            margin-left: 5%;
            & h3 {
                margin-top: 4%;
            }
            & .jauge {
                top: 250px;
            }
            & .jauge_remplissage {
                bottom: 250px;
            }
        }
      
    }
}

    


    
